<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155106876423-j9gs74ddh4kmht9k841gj5mn19uhnkj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155106876423-j9gs74ddh4kmht9k841gj5mn19uhnkj0</string>
	<key>API_KEY</key>
	<string>AIzaSyC6zOw9hfrXVolsHKCd3rU_8a0hF_MdgQk</string>
	<key>GCM_SENDER_ID</key>
	<string>155106876423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.WorriedWednesday</string>
	<key>PROJECT_ID</key>
	<string>worriedwednesday</string>
	<key>STORAGE_BUCKET</key>
	<string>worriedwednesday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155106876423:ios:5cb12884166ded81dfdea2</string>
</dict>
</plist>